@{
    ViewBag.Title = "Search Stock";
    ViewBag.ClassName = "search-contnt";
    <link href="~/Content/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Plugins/multiselect/bootstrap-multiselect.css" type="text/css">
}
<style>
    .val-txtbx {
        padding: 3.5px;
        font-size: 13px;
        width: 110%;
    }

    .btn-group > .btn:first-child {
        width: 355px;
    }

    .dropdown-menu.show {
        max-height: 450px;
        overflow-y: auto;
    }

    .searchStock {
        width: 100% !important;
    }

    .excelbtn {
        width: 160px !important;
    }

    .search-page-content .bottom-button-bar {
        width: 100%;
        margin: 0 0 0px 8px;
    }

    @@media screen and (min-width: 321px) and (max-width: 411px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        .btn-group > .btn:first-child {
            width: 265px;
            margin-left: 10px;
        }

        .offer-input1 {
            width: 83px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
                height: 85px;
            }

            .search-page-content .bottom-button-bar {
                position: relative;
        }*/
    }

    @@media(max-width: 320px) {
        .search-page-content.tab-pane ul li input {
            width: 112px;
        }

        .btn-group > .btn:first-child {
            width: 235px;
            margin-left: 5px;
        }

        .offer-input1 {
            width: 62px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
                height: 85px;
            }

            .search-page-content .bottom-button-bar {
                position: relative;
            }*/
    }

    @@media screen and (min-width: 412px) and (max-width: 414px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        .btn-group > .btn:first-child {
            width: 315px;
            margin-left: 10px;
        }

        .offer-input1 {
            width: 83px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
                height: 85px;
            }

            .search-page-content .bottom-button-bar {
                position: relative;
            }*/
    }

    @@media screen and (min-width: 415px) and (max-width: 450px) {
        .search-page-content.tab-pane ul li input {
            width: 133px;
        }

        #divButtons, .search-page-content .bottom-button-bar ul {
            background-color: #c8c8c8;
            border-radius: 0px;
        }

        .excelbtn {
            width: 95px !important;
        }
        /*.search-page-content .bottom-button-bar ul li a {
                height: 85px;
            }

            .search-page-content .bottom-button-bar {
                position: relative;
            }*/
    }

    @@media (width: 768px) {
        .btn-group > .btn:first-child {
            width: 240px;
        }

        .offer-input1 {
            width: 110px;
        }

        .dropdown-menu.show {
            max-height: 350px;
            overflow-y: auto;
        }

        .searchStock {
            width: 100% !important;
        }
    }

    .search-page-content ul.search li a.active span.first-ico {
        color: #fff;
    }

    .search-page-content ul.search li a:hover span.first-ico {
        color: #fff;
    }

    .f_clr_clk {
        margin-top: -11px;
        z-index: 9999;
    }

    #sym-sec4.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }
    
    #sym-sec0.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec1.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec2.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    #sym-sec3.active .carat-dropdown-main {
        display: block;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }

    .active_btn {
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        padding: 5px 15px;
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
        transition-duration: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        cursor: pointer;
        font-size: 10px;
        white-space: nowrap;
        font-weight: 600;
        background: #fff;
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin-top: 5px;
        /*background: #143f58;
            color: #fff;*/
        box-shadow: none;
        border-radius: 6px;
    }

    .active_btn_active {
        background: #143f58;
        color: #fff;
    }

    .active_btn_inactive {
        background: #fff;
        color: #143f58;
    }

    .part2 li.active ::after {
        border: 1px solid rgba(255,255,255,0.5);
    }

    .fncy-rst {
        right: -6px;
        top: 13px;
        position: absolute;
        /*font-size: 14px;*/
        cursor: pointer;
    }

    .sym-sec .carat-dropdown-main ul li {
        display: inline-block;
        margin: -3px 0px 0px 0px;
        width: 23%;
    }

    .g-head-t {
        font-size: 12px;
        padding: 0 12px;
        color: grey;
    }

    .g-amt-t {
        font-size: 12px;
        padding: 0 12px;
        color: #143f58;
    }

    .rw_mar_rmv {
        margin-right: 0px !important;
    }

    .grid_prewrap {
        white-space: pre-wrap !important;
    }

    .ag-paging-page-summary-panel {
        left: 10px;
        position: relative;
    }

    .ag-theme-balham .ag-cell {
        white-space: normal !important;
        line-height: inherit;
        overflow-y: auto;
    }

    .Yes {
        margin-bottom: 1px;
        color: white;
        background-color: #008000e6;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    .No {
        margin-bottom: 1px;
        color: white;
        background-color: #ff0000cf;
        padding: 2px 5px;
        border-radius: 16px;
        font-weight: bold;
    }

    ul.cl .li-content-width {
        overflow-x: auto;
        display: block;
    }

    @@media screen and (min-width: 0px) and (max-width: 433px) {
        .api-plr {
            padding-left: 13px;
            padding-right: 13px;
        }
        .api-plr-d {
            padding-left: 0px;
            padding-right: 34px;
        }
    }
    @@media screen and (min-width: 550px) and (max-width: 1500px) {
        .price-fil {
            padding-left: 15px;
        }
        #searchshape {
            /*margin-left: -27px;*/
        }
    }
    @@media screen and (min-width: 0px) and (max-width: 768px) {
        .fclr {
            padding-top: 10px;
        }
        .pra_dv {
            margin-left: -35px;
        }
    }
    @@media screen and (min-width: 0px) and (max-width: 1192px) {
        .cut_m {
            margin-top: -7px !important;
        }
        .sym_m {
            margin-top: -4px !important;
        }
        .pls_m {
            margin-top: -6px !important;
        }
        .fgml_ttl_m {
            margin-left: 0px !important;
            margin-top: 10px !important;
        }
        .flst_m {
            margin-left: -30px !important;
        }
        .fls_m {
            margin-left: -22px !important;
            margin-top: -7px !important;
        }
        .bgmt_m {
            margin-left: -30px !important;
        }
        .bgm_m {
            margin-left: -22px !important;
            margin-top: -7px !important;
        }
        .mediat_m {
            margin-left: -30px !important;
        }
        .media_m {
            margin-left: -22px !important;
            margin-top: -7px !important;
        }
        .labt_m {
            margin-left: -30px !important;
        }
        .lab_m {
            margin-left: -22px !important;
            margin-top: -7px !important;
        }
    }
    @@media screen and (min-width: 0px) and (max-width: 1172px) {
        .para_txt {
            width: 85px !important;
        }
    }
    @@media screen and (min-width: 0px) and (max-width: 650px) {
        .tab1TCount_mob {
            display: inline-flex !important;
        }
        .grid-optn {
            margin-top: 10px !important;
        }
        .tab1TCount_pc {
            display: none !important;
        }
    }
    @@media screen and (min-width: 649px) and (max-width: 5000px) {
        .tab1TCount_mob {
            display: none !important;
        }

        .tab1TCount_pc {
            display: inline-flex !important;
        }
    }

    


    .sp-c {
        color: #143f58 !important;
    }
    .btn-li {
       padding-bottom: 12px;
    }
        /* .li-content-width {
        padding: 0px;
    }*/
</style>

<input type="hidden" id="hdnType" value="@ViewBag.type" />
<input type="hidden" id="hdnSavedSearchId" value="0" />
<input type="hidden" id="hdn_Id" />
<div class="container-fluid order-history-section manage-user">
    <input type="hidden" id="hdnDelUserId" />
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2 id="h2_titl">Search Stock</h2>
            </div>
        </div>
    </div>
    <div id="divFilter">
        <div class="row rw_mar_rmv" style="margin-left: 2px;margin-bottom: 10px;">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-history-data admin" style="box-shadow: none; margin-bottom: -42px;">
                @if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("1") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("4"))
                {
                    if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2"))
                    {
                        <div class="col-xl-4 col-lg-12 col-md-6 col-sm-6 col-12 float-left mb-2">
                            <div class="order-company-name common-order" style="margin-left: -10px;">
                                <div class="offer-label sp-c">Supplier: </div>
                                <select id="ddlSupplierId" class="form-control common-control" multiple="multiple" style="width: 100%">
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xl-5 col-lg-12 col-md-6 col-sm-6 col-12 float-left mb-2">
                            <div class="order-company-name common-order" style="margin-left: -10px;">
                                <div class="offer-label sp-c">Supplier: </div>
                                <select id="ddlSupplierId" class="form-control common-control" multiple="multiple" style="width: 100%">
                                </select>
                            </div>
                        </div>
                    }
                }
                @if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2"))
                {
                    <div class="col-xl-3 col-lg-12 col-md-6 col-sm-6 col-12 float-left mb-2">
                        <div class="order-company-name common-order">
                            <div class="offer-label sp-c">User: </div>
                            <select id="ddlUserId" class="form-control common-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-6 col-12 float-left mb-2">
                        <div class="order-company-name common-order">
                            <div class="offer-label sp-c">Price Method: </div>
                            <div class="row price-fil">
                                <div class="col-lg-2 col-md-6 col-sm-2 col-xs-10 custom-box-list api-plr">
                                    <select class="form-control common-control select2" id="PricingSign_1" name="PricingSign_1">
                                        <option value="Plus">+</option>
                                        @*<option value="Minus">-</option>*@
                                    </select>
                                </div>
                                <div class="col-ld-2 col-md-6 col-sm-5 col-sm-4 col-xs-10 custom-box-list api-plr">
                                    <select class="form-control common-control select2" id="PricingMethod_1" name="PricingMethod_1">
                                        <option value="">Select Method</option>
                                        <option value="Disc">Discount</option>
                                        <option value="Value">Value</option>
                                    </select>
                                </div>
                                <div class="col-ld-2 col-md-4 col-sm-4 col-sm-4 col-xs-10 custom-box-list api-plr api-plr-d">
                                    <div class="api-plr txtDisc_1" style="margin-top: 0px;">
                                        <input onchange="_checkValue(this)" type="text" id="txtDisc_1_1" class="form-control common-control dis_val val-txtbx" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12 float-left" style="margin-left: -14px; margin-top: -14px;">
                    <div class="order-stone-id common-order form-inline ml-md-3 mt-3 navbar-search">
                        <input type="text" autocomplete="off" maxlength="2000" class="form-control border-0 small searchStock" id="txtRefNo" onblur="CommaSeperated_list(event)" onkeyup="CommaSeperated_list(event)" placeholder="Ref No / Supplier Ref No / Certificate No (Comma or Space)...">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show search-page-content active" id="home-tab2" role="tabpanel" aria-labelledby="home-tab" style="background: none;">
                <div class="row">
                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 order-history-data admin" style="margin-left: 0px; margin-bottom: 10px; padding-bottom: 0px;">
                        <div class="col-xl-12">
                            <ul class="search shape">
                                <li class="sp-c" style="margin-left: -22px;"><b>Shape</b></li>
                                <div class="li-content-width" id="searchshape" style="margin-top: -3px; margin-bottom: -12px; padding-left: 1px;">
                                </div>
                            </ul>
                        </div>
                        <div class="col-xl-12" style="border-bottom: 1px solid #80808091;border-radius: 0px;margin-left: 2px;margin-top: 0px;margin-bottom: 7px;"></div>
                        <div class="col-xl-6">
                            <ul class="carat ">
                                <li class="sp-c"><b>Carat</b></li>
                                <ul class="nav specific-ul" id="CaratTab" role="tablist" style="width: 57%;display:none;">
                                    <li>
                                        <a class="active" id="home" data-toggle="tab" href="#carat1" role="tab" aria-controls="home" aria-selected="true">Specific</a>
                                    </li>
                                    <li>
                                        <a class="" id="profile" data-toggle="tab" href="#carat2" role="tab" aria-controls="profile" aria-selected="false">General</a>
                                    </li>
                                </ul>
                                <div class="tab-content row col-md-12" id="myTabContent">
                                    <div class="tab-pane fade show active row col-md-12" id="carat1" role="tabpanel" aria-labelledby="home-tab" style="margin-left: -21px; padding-right: 0px;">
                                        <div class="li-content-width one wow fadeInLeft animated dv_Crt_Wgt" data-wow-delay="0.1s" style=" width: 104%;">
                                <li class="carat-li-top"><input type="text" id="txtfromcarat" onblur="LeaveTextBox('FROM','txtfromcarat','txttocarat', 2);" onkeypress="return isNumberKey(event)" autocomplete="off"><span class="from-to">From</span></li>
                                <li class="carat-li-top"><input type="text" id="txttocarat" onblur="LeaveTextBox('TO','txtfromcarat','txttocarat', 2);" onkeypress="return isNumberKey(event)" autocomplete="off"><span class="from-to">To</span></li>
                                <li class="carat-li-top"><a href="javascript:void(0);" onclick="NewSizeGroup()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                        </div>
                        <div id="searchcaratspecific" class="li-content-width two wow fadeInLeft animated dv_Crt_Wgt1" data-wow-delay="0.1s" style="width: 104%;">

                        </div>
                    </div>
                    <div class="tab-pane fade carat2 common-li" id="carat2" role="tabpanel" aria-labelledby="home-tab">
                        <div id="searchcaratgen" class="li-content-width  fadeInRight animated" data-wow-delay="0.8s">
                        </div>
                    </div>
                </div>
                </ul>
            </div>



            <div class="col-xl-3">
                <ul class="part2">
                    <li class="sp-c" style="margin-bottom: 15px;"><b>Discount %</b></li>
                    <div class="li-content-width sec" style="margin-left: -7px;">
                    <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromDiscount','ToDiscount', 2);" onkeypress="return isNumberKey(event,'-')" id="FromDiscount" class="numeric_value" type="text" autocomplete="off"><span class="from-to">From</span></li>
                    <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromDiscount','ToDiscount', 2);" onkeypress="return isNumberKey(event,'-')" id="ToDiscount" class="numeric_value" type="text" autocomplete="off"><span class="from-to">To</span></li>
            </div>
            </ul>
        </div>
        <div class="col-xl-3">
            <ul class="part2">
                <li class="sp-c" style="margin-bottom: 15px;"><b>Amount</b></li>
                <div class="li-content-width sec" style="margin-left: -7px;">
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromTotalAmt','ToTotalAmt', 2);" onkeypress="return isNumberKey(event)" id="FromTotalAmt" class="numeric_value" type="text" autocomplete="off"><span class="from-to">From</span></li>
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromTotalAmt','ToTotalAmt', 2);" onkeypress="return isNumberKey(event)" id="ToTotalAmt" class="numeric_value" type="text" autocomplete="off"><span class="from-to">To</span></li>
        </div>
        </ul>
    </div>

    <div class="col-xl-12" style="border-bottom: 1px solid #80808091;border-radius: 0px;margin-left: 2px;margin-top: 0px;margin-bottom: 7px;"></div>

    <div class="col-xl-12" id="div_Color" style="margin-top: -6px;">
        <ul class="color cl common-li" style="padding-top: 10px; padding-bottom: 0px;">
            <div class="row" style="margin-left: 0px;">
                <span class="sp-c" style="margin-bottom: 10px;"><b>Color</b></span>
                <div style="margin-left: 10px; margin-top: -5px;">
            <li onclick="Color_Hide_Show('1')" id="Color_Hide_Show_1" class="active">Regular</li>
            <li onclick="Color_Hide_Show('2')" id="Color_Hide_Show_2">Fancy</li>
    </div>
</div>
<div id="searchcolor" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s" style="margin-left: -7px; padding-right: 0px;">
</div>
    </ul>
</div>
<div class="col-xl-12" id="div_Fancy_Color" style="display: none; margin-top: 4px;">
    @*<ul class="color cl common-li ul-b">*@
    <ul class="part2">


        <div class="row" style="margin-left: 0px;">
            <span class="sp-c" style="margin-bottom: 10px;"><b>Color</b></span>
            <div style="margin-left: 10px; margin-top: -5px;">
        <li onclick="Color_Hide_Show('3')" class="active_btn regclr" id="Color_Hide_Show_3" style="margin-left: 5px;">Regular</li>
        <li onclick="Color_Hide_Show('4')" class="active_btn" id="Color_Hide_Show_4">Fancy</li>
</div>
</div>



<div id="searchcolor" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s" style="display:none;">
</div>
@*<div id="searchFANCYCOLOR">*@
<div class="row col-md-12" style="margin-left: -32px; margin-top: 7px;">
    <div class="col-md-4">
        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #79797e;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">INTENSITY</p>
        <li class="sym" id="div_INTENSITY">
            <div class="sym-sec" id="sym-sec1">
                <div class="sym-main-wrap" onclick="INTENSITYShow();">
                    <div class="sym-iner">
                        <span id="c1_spanselected">0 - Selected</span>
                    </div>
                    <div class="sym-btn">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="carat-dropdown-main" style="width: 70%;display:none;">
                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_INTENSITY">

                    </div>
                </div>
            </div>
        </li>
        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetINTENSITY()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
    </div>
    <div class="col-md-4 fclr">
        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #79797e;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">OVERTONE</p>
        <li class="sym" id="div_OVERTONE">
            <div class="sym-sec" id="sym-sec2">
                <div class="sym-main-wrap" onclick="OVERTONEShow();">
                    <div class="sym-iner">
                        <span id="c2_spanselected">0 - Selected</span>
                    </div>
                    <div class="sym-btn">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="carat-dropdown-main" style="width: 70%;display:none;">
                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_OVERTONE">

                    </div>
                </div>
            </div>
        </li>
        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetOVERTONE()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
    </div>
    <div class="col-md-4 fclr">
        <p class="p_f_clr" style="padding-left: 12px;font-size: 11px;color: #79797e;font-weight: bold;margin-bottom: -3px;margin-top: -8px;">FANCY COLOR</p>
        <li class="sym" id="div_FANCY_COLOR">
            <div class="sym-sec" id="sym-sec3">
                <div class="sym-main-wrap" onclick="FANCY_COLORShow();">
                    <div class="sym-iner">
                        <span id="c3_spanselected">0 - Selected</span>
                    </div>
                    <div class="sym-btn">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="carat-dropdown-main" style="width: 70%;display:none;">
                    <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="ddl_FANCY_COLOR">

                    </div>
                </div>
            </div>
        </li>
        <span class="fncy-rst"><a href="javascript:void(0);" onclick="resetFANCY_COLOR()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
    </div>
</div>
    </ul>
</div>


<div class="col-xl-12" style="border-bottom: 1px solid #80808091;border-radius: 0px;margin-left: 2px;margin-top: 0px;margin-bottom: 7px;"></div>

<div class="col-xl-12">
    <ul class="color common-li" style="padding-top: 6px; ">
        <span class="sp-c"><b>Clarity</b></span>
        <div id="searchclarity" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s" style="margin-left: -7px;">
        </div>
    </ul>
</div>

<div class="col-xl-12" style="border-bottom: 1px solid #80808091;border-radius: 0px;margin-left: 2px;margin-top: -8px;margin-bottom: 7px;"></div>

<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left mb-2" style="margin-left: -17px; margin-right: 5px; margin-bottom: -10px;">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding-right: 0px;">
        <span style="background-color: #143f58; padding: 3px; padding-right: 12px; padding-left: 8px; color: white; border-radius: 9px; margin-bottom: 7px;">Cut / Polish / Symmetry</span>

        <div class="row col-xl-12" style="padding-right: 0px; margin-bottom: -22px;">
            <div class="row col-xl-2"></div>
            <div class="row col-xl-10" style="margin-left: 1px;">
                <ul class="color common-li">
                    <li id="li3ex" onclick="SetCutMaster('3EX')">3EX</li>
                    <li id="li3vg" onclick="SetCutMaster('3VG')">3VG+</li>
                </ul>
            </div>
        </div>


        <div class="row col-xl-12" style="padding-right: 0px; margin-bottom: -12px;">


            <div class="row col-xl-2"><span class="sp-c">Cut</span></div>
            <div class="row col-xl-10 cut_m" style="margin: -8px;">
                <ul class="color common-li">
                    <div id="searchcut" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                    </div>
                </ul>
            </div>


        </div>
        <div class="row col-xl-12" style="padding-right: 0px; margin-bottom: -12px;">
            <div class="row col-xl-2"><span class="sp-c">Symmetry</span></div>
            <div class="row col-xl-10 sym_m" style="margin: -8px;">
                <ul class="color common-li">
                    <div id="searchsymm" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                    </div>
                </ul>
            </div>
        </div>


        <div class="row col-xl-12" style="padding-right: 0px; margin-bottom: -12px;">
            <div class="row col-xl-2"><span class="sp-c">Polish</span></div>
            <div class="row col-xl-10 pls_m" style="margin: -8px;">
                <ul class="color common-li">
                    <div id="searchpolish" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding-right: 0px;">
        <span class="fgml_ttl_m" style="margin-left: 15px; background-color: #143f58; padding: 3px; padding-right: 12px; padding-left: 8px; color: white; border-radius: 9px; margin-bottom: 15px;">Fluorescence / Bgm / Media / Lab</span>

        <div class="row col-xl-12" style="padding-left: 0px; padding-right: 0px; float: right; margin-bottom: -12px;">
            <div class="row col-xl-2 flst_m"><span class="sp-c">Fluorescence</span></div>
            <div class="row col-xl-10 fls_m" style="margin: -8px; margin-left: 17px;">
                <ul class="color common-li">
                    <div id="searchfls" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                    </div>
                </ul>
            </div>
        </div>
        <div class="row col-xl-12" style="padding-left: 0px; padding-right: 0px; float: right; margin-bottom: -12px;">
            <div class="row col-xl-2 bgmt_m"><span class="sp-c">BGM</span></div>
            <div class="row col-xl-10 bgm_m" style="margin: -8px; margin-left: 17px;">
                <ul class="color common-li">
                    <div id="searchbgm" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                    </div>
                </ul>
            </div>
        </div>
        <div class="row col-xl-12" style="padding-left: 0px; padding-right: 0px; float: right; margin-bottom: -12px;">
            <div class="row col-xl-2 mediat_m"><span class="sp-c">Media</span></div>
            <div class="row col-xl-10 media_m" style="margin: -8px; margin-left: 17px;">
                <ul class="color common-li">
                    <div class="li-content-width">
                    <li id="SearchImage" class="wow flipInY animated" data-wow-delay="0.8s" style="padding: 5px 8px 5px 8px;"><i class="fa fa-picture-o" aria-hidden="true"></i>Images</li>
                    <li id="SearchVideo" class="wow flipInY animated" data-wow-delay="0.8s" style="padding: 5px 8px 5px 8px;"><i class="fa fa-video-camera" aria-hidden="true"></i>Video</li>
                    <li id="SearchCerti" class="wow flipInY animated" data-wow-delay="0.8s" style="padding: 5px 8px 5px 8px;"><i class="fa fa-certificate" aria-hidden="true"></i>Certificate</li>
            </div>
            </ul>
        </div>
    </div>
    <div class="row col-xl-12" style="padding-left: 0px; padding-right: 0px; float: right;">
        <div class="row col-xl-2 labt_m"><span class="sp-c">Lab</span></div>
        <div class="row col-xl-10 lab_m" style="margin: -8px; margin-left: 17px;">
            <ul class="color common-li">
                <div id="searchlab" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
                </div>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="col-xl-12" style="border-bottom: 1px solid #80808091;border-radius: 0px;margin-left: 2px;margin-top: 0px;margin-bottom: 7px;"></div>

<div class="col-xl-3" style="margin-top: 10px;">
    <ul class="part2">
        <span class="sp-c" style="float: left;"><b>Key to Symbol</b></span>
        <div id="divKTSBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-top: -3px;margin-bottom: -8px;">
        <li id="KTSBlank" onclick="SetActive('KTSBlank','BLANK')" style="margin-bottom: 10px;">BLANK</li>
</div>
<span class="res-btn"><a href="javascript:void(0);" onclick="resetKeytoSymbol()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
<li class="sym" style="margin-left: -3px;">
    <div class="sym-sec" id="sym-sec0">
        <div class="sym-main-wrap" onclick="Key_to_symbolShow();">
            <div class="sym-iner">
                <span id="spanselected">0 - Selected</span> / <span id="spanunselected">0 - Deselected</span>
            </div>
            <div class="sym-btn">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <div class="carat-dropdown-main">
            <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="searchkeytosymbol">
                @*<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>*@
            </div>
        </div>
    </div>
</li>

    </ul>
</div>


<div class="col-xl-3" style="margin-top: 10px;">
    <ul class="part2">
        <span class="sp-c" style="float: left;"><b>Report Comments</b></span>
        <div id="divRCommentBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-top: -3px;margin-bottom: -8px;">
        <li id="RCommentBlank" onclick="SetActive('RCommentBlank','BLANK')" style="margin-bottom: 10px;">BLANK</li>
</div>
<span class="res-btn"><a href="javascript:void(0);" onclick="resetRComment()" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
<li class="sym" style="margin-left: -3px;">
    <div class="sym-sec" id="sym-sec4">
        <div class="sym-main-wrap" onclick="RCommentShow();">
            <div class="sym-iner">
                <span id="RComment_spanselected">0 - Selected</span> / <span id="RComment_spanunselected">0 - Deselected</span>
            </div>
            <div class="sym-btn">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <div class="carat-dropdown-main">
            <div class="carat-dropdown-half-col src-shape-main-pcscroll ps-container ps-theme-default row m-0" id="searchRComment">
                @*<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>*@
            </div>
        </div>
    </div>
</li>

    </ul>
</div>

@if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("1") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("4"))
{
    <div class="col-xl-6" style="margin-top: 10px;">
        <ul class="color common-li">
            <span class="sp-c"><b>Location</b></span>
            <div id="searchlocation" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s" style="margin-left: -7px;">
            </div>
        </ul>
    </div>
}


</div>


<span style="background-color: #143f58; padding: 3px; padding-right: 12px; padding-left: 8px; color: white; border-radius: 9px; margin-bottom: 7px; margin-left: 12px;">Search Parameters <i class="fa fa-search" style="margin-left: 23px;"></i> </span>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left mb-2 order-history-data admin" style="margin-left: 0px; margin-right: 5px; margin-bottom: 10px; padding-left: 20px; padding-bottom: 0px;">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding-right: 0px; margin-left: -35px;">
            <div class="row col-lg-12" style="margin-bottom: -12px;">
                <div class="col-lg-3">
                    <span class="sp-c">Length  &nbsp;</span>
                </div>
                <div class="col-lg-9">
                    <ul class="part2">

                        <div class="li-content-width sec">

                        <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromLength','ToLength', 2);" onkeypress="return isNumberKey(event)" id="FromLength" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
                        <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromLength','ToLength', 2);" onkeypress="return isNumberKey(event)" id="ToLength" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
                        <div id="divLengthBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
                        <li class="wow flipInY animated" data-wow-delay="0.8s" id="LengthBlank" onclick="SetActive('LengthBlank','BLANK')">BLANK</li>
                </div>

            </div>
            </ul>
        </div>
    </div>

    <div class="row col-lg-12" style="margin-bottom: -12px;">
        <div class="col-lg-3">
            <span class="sp-c">Width  &nbsp;</span>
        </div>
        <div class="col-lg-9">
            <ul class="part2">
                <div class="li-content-width sec">
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromWidth','ToWidth', 2);" onkeypress="return isNumberKey(event)" id="FromWidth" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromWidth','ToWidth', 2);" onkeypress="return isNumberKey(event)" id="ToWidth" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
                <div id="divWidthBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
                <li class="wow flipInY animated" data-wow-delay="0.8s" id="WidthBlank" onclick="SetActive('WidthBlank','BLANK')">BLANK</li>
        </div>
    </div>
    </ul>
</div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Depth  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromDepth','ToDepth', 2);" onkeypress="return isNumberKey(event)" id="FromDepth" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromDepth','ToDepth', 2);" onkeypress="return isNumberKey(event)" id="ToDepth" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divDepthBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="DepthBlank" onclick="SetActive('DepthBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Depth %  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromDepthPer','ToDepthPer', 2);" onkeypress="return isNumberKey(event)" id="FromDepthPer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromDepthPer','ToDepthPer', 2);" onkeypress="return isNumberKey(event)" id="ToDepthPer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divDepthPerBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="DepthPerBlank" onclick="SetActive('DepthPerBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>
<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Table %  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromTablePer','ToTablePer');" onkeypress="return isNumberKey(event)" id="FromTablePer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromTablePer','ToTablePer');" onkeypress="return isNumberKey(event)" id="ToTablePer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divTablePerBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="TablePerBlank" onclick="SetActive('TablePerBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>

    </div>

<div class="row col-lg-12">
    <div class="col-lg-3">
        <span class="sp-c">Girdle %  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromGirdlePer','ToGirdlePer', 2);" onkeypress="return isNumberKey(event)" id="FromGirdlePer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromGirdlePer','ToGirdlePer', 2);" onkeypress="return isNumberKey(event)" id="ToGirdlePer" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divGirdlePerBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="GirdlePerBlank" onclick="SetActive('GirdlePerBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>

    </div>



    </div>


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 pra_dv" style="padding-right: 0px;">

    <div class="row col-lg-12" style="margin-bottom: -12px;">
        <div class="col-lg-3">
            <span class="sp-c">Crown Angle  &nbsp;</span>
        </div>
        <div class="col-lg-9">
            <ul class="part2">
                <div class="li-content-width sec">
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromCrAng','ToCrAng',2);" onkeypress="return isNumberKey(event)" id="FromCrAng" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
                <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromCrAng','ToCrAng',2);" onkeypress="return isNumberKey(event)" id="ToCrAng" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
                <div id="divCrAngBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
                <li class="wow flipInY animated" data-wow-delay="0.8s" id="CrAngBlank" onclick="SetActive('CrAngBlank','BLANK')">BLANK</li>
        </div>
    </div>
    </ul>
</div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Crown Height  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromCrHt','ToCrHt',2);" onkeypress="return isNumberKey(event)" id="FromCrHt" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromCrHt','ToCrHt',2);" onkeypress="return isNumberKey(event)" id="ToCrHt" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divCrHtBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="CrHtBlank" onclick="SetActive('CrHtBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Pavilion Angle  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromPavAng','ToPavAng',2);" onkeypress="return isNumberKey(event)" id="FromPavAng" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromPavAng','ToPavAng',2);" onkeypress="return isNumberKey(event)" id="ToPavAng" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divPavAngBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="PavAngBlank" onclick="SetActive('PavAngBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Pav Height  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromPavHt','ToPavHt',2);" onkeypress="return isNumberKey(event)" id="FromPavHt" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromPavHt','ToPavHt',2);" onkeypress="return isNumberKey(event)" id="ToPavHt" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divPavHtBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="PavHtBlank" onclick="SetActive('PavHtBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>


<div class="row col-lg-12" style="margin-bottom: -12px;">
    <div class="col-lg-3">
        <span class="sp-c">Star Length  &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromStarLength','ToStarLength',2);" onkeypress="return isNumberKey(event)" id="FromStarLength" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromStarLength','ToStarLength',2);" onkeypress="return isNumberKey(event)" id="ToStarLength" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divStarLengthBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="StarLengthBlank" onclick="SetActive('StarLengthBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>



<div class="row col-lg-12" style="margin-bottom: -12px; padding-bottom: 2px;">
    <div class="col-lg-3">
        <span class="sp-c">Lower Half &nbsp;</span>
    </div>
    <div class="col-lg-9">
        <ul class="part2">
            <div class="li-content-width sec">
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('FROM','FromLowerHalf','ToLowerHalf',2);" onkeypress="return isNumberKey(event)" id="FromLowerHalf" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">From</span></li>
            <li class="wow flipInY animated" data-wow-delay="0.8s"><input onblur="LeaveTextBox('TO','FromLowerHalf','ToLowerHalf',2);" onkeypress="return isNumberKey(event)" id="ToLowerHalf" class="numeric_value para_txt" type="text" autocomplete="off"><span class="from-to">To</span></li>
            <div id="divLowerHalfBlank" class="li-content-width wow flipInY animated color common-li ul-b col-md-1" style="margin-left: -11px; margin-top: -4px; margin-bottom: -8px; width: 10%;">
            <li class="wow flipInY animated" data-wow-delay="0.8s" id="LowerHalfBlank" onclick="SetActive('LowerHalfBlank','BLANK')">BLANK</li>
    </div>
</div>
    </ul>
    </div>
    </div>


    </div>

    </div>
    









<span class="" style="background-color: #143f58; padding: 3px; padding-right: 12px; padding-left: 8px; color: white; border-radius: 9px; margin-bottom: 7px; margin-left: 12px;">Search By Inclusion <i class="fa fa-search" style="margin-left: 23px;"></i> </span>
<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 order-history-data admin" style="margin-left: 0px; margin-bottom: 10px;">

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Table Black:</li>
            <div id="searchtablenatts" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Crown Black:</li>
            <div id="searchcrownnatts" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Table White:</li>
            <div id="searchtableincl" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Crown White:</li>
            <div id="searchcrownincl" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Table Open:</li>
            <div id="searchtableopen" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Crown Open:</li>
            <div id="searchcrownopen" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Pav Open:</li>
            <div id="searchpavopen" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <ul class="color common-li ul-b">
            <li class="label">Girdle Open:</li>
            <div id="searchgirdleopen" class="li-content-width wow fadeInLeft animated" data-wow-delay="0.8s">
            </div>
        </ul>
    </div>









</div>
<div class="bottom-button-bar text-right" style="position: sticky; padding-bottom: 0px; ">
    <ul class="two">
        <li><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" data-toggle="modal" data-target="#SaveSearchModal"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Search</a></li>
        @if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("1"))
        {
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="BuyerList();"><i class="fa fa-search" aria-hidden="true"></i>Buyer Search</a></li>
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(1, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Buyer Download</a></li>
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="SupplierList();"><i class="fa fa-search" aria-hidden="true"></i>Admin Search</a></li>
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(2, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Admin Download</a></li>
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="CustomerList();"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
            {
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(3, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Download</a></li>
                <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(4, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Status Download</a></li>
            }
        }
        else
        {
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("4"))
            {
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="BuyerList();"><i class="fa fa-search" aria-hidden="true"></i>Buyer Search</a></li>
                }
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(1, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Buyer Download</a></li>
                }
            }

            if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2"))
            {
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="CustomerList();"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
                }
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(3, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Download</a></li>
                }
            }
            else if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("3"))
            {
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="CustomerList();"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
                }
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(3, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Download</a></li>
                }
            }
            if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserId == 8)
            {
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.View == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="SupplierList();"><i class="fa fa-search" aria-hidden="true"></i>Admin Search</a></li>
                }
                if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
                {
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(2, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Admin Download</a></li>
                    <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn excelbtn" onclick="ExcelFilter(4, 'Out');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Status Download</a></li>
                }
            }
        }


        <li class="btn-li"><a style="width: 100% !important;" href="javascript:void(0);" class="obtn" onclick="Reset();"><i class="fa fa-refresh" aria-hidden="true"></i>Reset</a></li>
    </ul>
</div>
@*</div>*@
    </div>
    </div>
    </div>
    </div>

<div class="tab-pane result-page-content" id="divGridView" role="tabpanel" style="display: none; padding: 0px; margin-top: 11px;">
    <div class="row" style="margin-bottom: -15px;">
        <div class="col-md-6">
            <div class="row mt-3">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 row tab1TCount_pc" style="display:none;margin-top: -39px;margin-bottom: -5px;padding: 0 26px;">
                    <div><center><span class="g-head-t">Pcs</span></center><center><span class="g-amt-t tab1Pcs"></span></center></div>
                    <div><center><span class="g-head-t">CTS</span></center><center><span class="g-amt-t tab1CTS"></span></center></div>
                    <div><center><span class="g-head-t totdisc">Offer Disc.(%)</span></center><center><span class="g-amt-t tab1OfferDisc"></span></center></div>
                    <div><center><span class="g-head-t totval">Offer Value($)</span></center><center><span class="g-amt-t tab1OfferValue"></span></center></div>
                    <div><center><span class="g-head-t">Price/Cts</span></center><center><span class="g-amt-t tab1PriceCts"></span></center></div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 row tab1TCount_mob" style="display:none;margin-top: -39px;margin-bottom: -5px;padding: 0 26px;">
                    <table>
                        <tr>
                            <td><span class="g-head-t">Pcs</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1Pcs"></span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t">CTS</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1CTS"></span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t totdisc">Offer Disc.(%)</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1OfferDisc"></span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t totval">Offer Value($)</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1OfferValue"></span></td>
                        </tr>
                        <tr>
                            <td><span class="g-head-t">Price/Cts</span></td>
                            <td>:</td>
                            <td><span class="g-amt-t tab1PriceCts"></span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6 result-three pull-right grid-optn" style="margin-top: -20px;">
            <ul class="pull-right">
                <li><a class="effect-one" onclick="SetModifyParameter();" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Modify"><i class="flaticon-edit"></i></a></li>
                <li><a class="effect-one" onclick="AddToCart()" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a></li>
                @if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("3"))
                {
                    <li><a class="effect-one" onclick="PlaceOrder();" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Place Order"><i class="flaticon-checked"></i></a></li>
                }
                @if (SunriseLabWeb.Helper.SessionFacade.UserSession.Download == true)
                {
                    <li><a class="effect-one aEmailStone" href="javascript:void(0);" data-toggle="modal" data-placement="bottom" data-target="#EmailModal" title="Email Stone"><i class="flaticon-email"></i></a></li>
                    <li id="li_excel"><a class="effect-one" onclick="ExcelDownload('Grid','In');" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Excel Download"><i class="flaticon-file"></i></a></li>
                }
                <li style="display:none;"><a class="effect-one" onclick="ByRequestCart();" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Buy Cart"><i class="flaticon-shopping-cart"></i></a></li>
                <li style="display:none;"><a class="effect-one" onclick="Download();" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Excel Download"><i class="fa fa-file-excel-o"></i></a></li>

                @*<li>
                        <a onclick="OpenDownloadCheck()" class="effect-one download-popup" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="@LanguageProvider.get("download")"><i class="flaticon-file"></i></a>
                        <ul class="download-toggle tab_2">
                            <li id="liAll_2">
                            <a href="javascript:void(0);" onclick="ALLDownload()" data-placement="bottom" data-toggle="tooltip" title="@LanguageProvider.get("download") @LanguageProvider.get("excel"), @LanguageProvider.get("image"), @LanguageProvider.get("video"), @LanguageProvider.get("certificate")">@LanguageProvider.get("All")</a>
                        </li>
                            <li>
                                <a href="javascript:void(0);" onclick="OpenDownloadPopup('Excel')" id="Export" data-placement="bottom" data-toggle="tooltip" title="@LanguageProvider.get("download") @LanguageProvider.get("excel")">@LanguageProvider.get("excel")</a>
                            </li>
                            <li class="excel-modelAll">
                            <a href="javascript:void(0);" onclick="OpenDownloadPopup('Image')" data-placement="bottom" data-toggle="tooltip" title="@LanguageProvider.get("download") @LanguageProvider.get("image")">@LanguageProvider.get("image")</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="OpenDownloadPopup('Video')" data-placement="bottom" data-toggle="tooltip" title="@LanguageProvider.get("download") @LanguageProvider.get("video")">@LanguageProvider.get("video")</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="OpenDownloadPopup('Certificate')" data-placement="bottom" data-toggle="tooltip" title="@LanguageProvider.get("download") @LanguageProvider.get("certificate")">@LanguageProvider.get("certificate")</a>
                        </li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
    <div id="aggrid-section1" class="aggrid-section gallery-grid">
        <div class="row">
            <div class="col-xl-12">
                <div id="myGrid" style="width: 100%;" class="ag-theme-balham">
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="modal fade social-model" id="EmailModal" aria-modal="true" style="padding-left: 17px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Mail</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <form class="form-horizontal" id="frmSendMail">
                <div class="modal-body">
                    <span class="note">Note: you can send email to multiple email addresses which must be separated by comma(,)</span>
                    <div class="mail-stone-radio-btn">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadiomail" name="example" value="1" checked>
                            <label class="custom-control-label" for="customRadiomail">All Stone</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadiomail2" name="example" value="2">
                            <label class="custom-control-label" for="customRadiomail2">Selected Stone</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address : <span class="reqvalidation"> * </span></label>
                        <input type="text" class="input-main required" id="txtemail" name="email" onblur="validmail(this)" placeholder="Email Address" value="@SunriseLabWeb.Helper.SessionFacade.UserSession.EmailId," style="height: 40px;" autocomplete="off">
                    </div>
                    <div class="form-group mb-0">
                        <label for="pwd">Remark :</label>
                        <textarea class="input-main" id="txtNotes" placeholder="Remark" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSendMail" class="fdbk-snd-btn" type="button" onclick="SendMail()">Send Mail</button>
                    <button type="button" class="fdbk-snd-btn" onclick="ClearSendMail()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade social-model" id="SaveSearchModal" tabindex="-1" role="dialog" aria-labelledby="" aria-modal="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save Search</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <form class="form-horizontal" id="frmSaveSearch">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Search Name : <span class="reqvalidation"> * </span></label>
                        <input class="input-main required" id="txtSearchName" type="text" placeholder="Search Name" style="height: 40px;" autocomplete="off" maxlength="100">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSendMail" class="fdbk-snd-btn" type="button" onclick="SaveSearch()">Save Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/Plugins/multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.min.js"></script>
    <script src="~/Content/js/ag-grid-enterprise.min.js"></script>
    <script src="~/Content/js/Pages/SearchStock.js?version=1"></script>
    <script src="~/Content/js/Pages/detailCellRenderer.js"></script>
}
